#filters
  .section#brightness
    .slider
      .bound Light
      %input{id: 'brightness_input',
             name: 'brightness',
             type: 'range',
             min: -1 + @lowest,
             max: @highest,
             step: 0.01,
             :"data-action" => "change->themes#adjustBrightness"}
      .bound Dark
