#themes-list{data: { controller: 'themes' }}
  #top
    %h1 Themes
    %h2 last updated

  - if @themes.empty?
    %h4 Somehow there are no themes yet.
  - else
    - if feature_enabled? "filters"
      = render 'filters'

    #wrapper<
      - @themes.each do |theme|
        -# going to prison for the code below
        = link_to(theme_path(theme), { class: "theme-thumbnail" , data: { brightness: theme.brightness }}) do
          %img{src: url_for(theme.screenshots.find { |s| s.filename.to_s.include?("_lisp") }.variant(resize: "600x"))}
          .meta= theme.name
