<p id="notice"><%= notice %></p>
<div id="themes-list">
  <h1>Themes</h1>

  <div id="wrapper">
    <% @themes.each do |theme| %>
    <div class="theme-thumbnail">
      <%= link_to theme_path(theme) do %>
      <%= image_tag theme.screenshot %>
      <div class="meta">
        <%= theme.name %>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
