<p id="notice"><%= notice %></p>

<h1>Themes</h1>
<div id="themes-list-wrapper">
  <% @themes.each do |theme| %>
  <div class="theme-thumbnail">
    <%= link_to theme_path(theme) do %>
      <%= image_tag theme.name %>
      <% end %>
      <div class="meta">
        <%= theme.name %>
      </div>
  </div>
  <% end %>
</div>
<br>
