<div id="themes-list">
  <h1>Themes</h1>

  <div id="wrapper">
    <% @themes.each do |theme| %>
      <%= link_to(theme_path(theme), { class: "theme-thumbnail" }) do %>
        <%= image_tag theme.screenshot %>
	<div class="meta">
          <%= theme.name %>
	</div>
      <% end %>
    <% end %>
</div>
