#themes-list{data: { controller: 'themes' }}
  #top
    %h1 Themes
    %h2 last updated

  - if @themes.empty?
    %h4 Somehow there are no themes yet.
  - else
    = render 'filters'
    #wrapper<
      - @themes.each do |theme|
        = link_to(theme_path(theme), { class: "theme-thumbnail" , data: { brightness: theme.brightness }}) do
          %img{src: url_for(theme.screenshot.variant(resize: "600x"))}
          .meta= theme.name
