#themes-list{data: { controller: 'themes' }}
  - @themes.each do |theme|
    .theme
      -# going to prison for the code below
      = link_to([theme, theme.variants.first], { data: { brightness: theme.brightness }}) do
        %img{src: url_for(theme.preview)}
        .meta= theme.radical
