.theme{data: { controller: 'theme' }}
  -# %h1.title= @theme.name
  %h3.description= @theme.description
  %section.variants
    .modes.selector
      %button.prev{disabled: true} ⟵
      %h3.mode= @mode[0]
      %button.next ⟶
    .variants.selector
      %button.prev{disabled: true} ⟵
      %h3.name= @variant.name
      %button.next ⟶
    .gallery{data: { target: 'theme.gallery'}}
      %img{src: url_for(@variant.screenshots.first)}

  = link_to 'Back', themes_path, { class: 'link' }
