.theme{data: { controller: 'theme' }}
  %h1.title= @theme.name
  %h3.description= @theme.description
  %section.variants
    .gallery{data: { target: 'theme.gallery'}}
      - @theme.variants.each do |variant|
        - @modes.each do |mode, ext|
          - screenshot = variant.screenshots.find { |s| s.filename.to_s.end_with? "#{ext}.png" }
          %img{src: url_for(screenshot)}



  = link_to 'Back', themes_path, { class: 'link' }
