/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "reset";
@import "themes";
@import "theme";
@import "header";

body, html {
  padding: 0.5rem 0;
  font-family: monospace;
  height: 100%;
  width: 100%;
  color: #333;
  background-color: #DDD;
  display: flex;
  flex-direction: column;
  letter-spacing: 2px;
}

select {
  min-width: 5rem;
  padding: 0.5rem;
  background: #EEE;
  border: 1px solid #CCC;
  border-radius: 3px;
  letter-spacing: 1px;
}

.content {
  flex-grow: 1;
}


.link {
  transition: text-shadow 0.33s ease-in, color 0.25s, border 0.25s;
  padding: 0.5rem 0;
  color: #777;
  font-size: 1rem;
  letter-spacing: 2px;
  text-decoration: none;
  border-bottom: 1px solid #DDD;
  display: table;

  &:hover {
    color: #333;
    border-bottom: 1px solid #888;
  }
}

.button {
  background: #EEE;
  color: #666;
  padding: 0.7rem;
  border-radius: 3px;
  display: table;
  text-decoration: none;
  transition: border 0.25s, background 0.25s, color 0.25s;
  border:1px solid #CCC;

  &:hover {
    background: white;
    border: 1px solid #BBB;
  }

  &.disabled {
    background: #DDD;
    color: #999;
    pointer-events: none;

    &:hover {
      border: 1px solid #EEE;
    }
  }
}
