/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "reset";
@import "themes";
@import "theme";

body, html {
  font-family: monospace;
  height: 100%;
  width: 100%;
  color: #333;
  background-color: #DDD;
  display: flex;
  flex-direction: column;
  letter-spacing: 2px;
}

select {
  min-width: 5rem;
  padding: 0.5rem;
  background: #EEE;
  border: 1px solid #CCC;
  border-radius: 3px;
  letter-spacing: 1px;
}

.content {
  flex-grow: 1;
}

.header {
  flex-grow: 0;
  padding: 2rem 1rem;
  line-height: 1.8rem;
  text-align: center;

  h1 {
    font-weight: bold;
    display: inline-block;
    font-size: 1.9rem;

    a {
      font-style: italic;
      font-family: monospace;
      letter-spacing: 2px;
      text-transform: lowercase;
      text-decoration: none;
      padding: 0.5rem 0;
      color: #333;
    }
  }

  #peach {
    display: none;
    font-size: 1.9rem;
    margin: 0 0.5rem;
  }

  hr {
    box-shadow: 0;
    border: 0;
    border-top: 1px solid #AAA;
  }
}
