/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "fonts";
@import "reset";
@import "themes";
@import "layout";
@import "colors";

body {
  padding: $spacer * 4;
  margin: 0;
  font-family: $primary-font;
  font-size: $default-font-size;
  background: $background-color;
  color: $primary-text-color;
}

h1 {
  font-size: $first-header-size;
  color: $secondary-text-color;
  margin: $spacer 0;
  font-weight: bold;
}

h2 {
  color: $secondary-text-color;
  font-size: $secondary-header-size;
  margin: $spacer 0;
}

a {
  color: white;
  text-decoration: none;
  border-bottom: 1px solid $secondary-text-color;
  font-weight: bold;
  padding: 0.2em;
  transition: border-color 0.2s ease-out;

  &:visited {
    color: $primary-text-color;
  }

  &:hover {
    color: #fff;
    border-color: white;
  }
}
