/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "reset";

body, html {
  font-family: monospace;
  font-size: 120%;
  height: 100%;
  background-color: #DDD;
}

.header {
  padding: 1rem;
  background: #CCC;
  border-bottom: 1px solid #BBB;
  line-height: 1.2rem;

  h1 {
    color: #333;
    font-weight: bold;
    display: inline-block;
    font-size: 2rem;
  }

  h2 {
    display: inline-block;
    color: #333;
    font-size: 1rem;
    line-height: 1.2rem;

    a {
      font-weight: bold;
      color: black;
    }
  }
}

#themes-list {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;

  .theme {
    margin: 1rem 0;
    max-width: 360px;

    &:hover {
      img {
	box-shadow: 0px 0px 15px #888;
      }

      .meta {
	color: #333;
	border-bottom: 1px dotted #777;
      }
    }

    img {
      box-shadow: 0px 0px 10px #BBB;
      transition: box-shadow 0.25s ease-out;
      max-width: 100%;
      border-radius: 3px;
    }

    a {
      color: white;
      text-decoration: none;
    }

    .meta {
      display: inline-block;
      transition: text-shadow 0.33s ease-in, color 0.25s, border 0.25s;
      padding: 0.5rem 0;
      margin-bottom: 1.5rem;
      border-bottom: 1px solid transparent;
      color: #777;
      font-size: 1rem;
      letter-spacing: 2px;
      border-bottom: 1px dotted transparent;
    }
  }
}
