$background-color: #555;
$lighter-bg: lighten($background-color, 33%);
$primary-text-color: #EEE;
$secondary-text-color: darken($primary-text-color, 33%);
$light-text-color: lighten($primary-text-color, 0%);
