#filters {
  margin: 1em 0;

  & > .section {
    padding: 1em 0;
  }

  #brightness {
    .slider {
      .bound {
        display: inline-block;
      }

      input {
        margin: 0;
        vertical-align: middle;
        width: 80%;
      }
    }
  }
}
