$primary-font: monospace;
$default-font-size: 1rem;
$larger-font-size: 1.333rem;
$smaller-font-size: 0.777rem;

%label-active {
  text-shadow: 0px 15px 20px rgba(255,222,173, 0.11);
  font-weight: bold;
  color: white;
}

%label {
  color: #777;
  font-size:1.1rem;
  text-align: center;
  transition: 0.25s color ease-out,
		          0.1s text-shadow ease-out;

  &:hover {
    @extend %label-active;
  }

  &:focus {
    outline: 0;
    border-bottom: 1px dashed #999;;
  }
}
