header {
  flex-grow: 0;
  padding: 0;
  line-height: 1.8rem;
  text-align: center;
  margin-bottom: 1rem;

  h1 {
    font-weight: bold;
    display: inline-block;

    a {
      font-size: 1.9rem;
    }
  }

  h2 {
    font-size: 1rem;
  }

  .logo {
    display: inline-block;

    img {
      max-width: 42px;
      margin: 0.6rem;
      vertical-align: bottom;
    }
  }
}
