// Place all the styles related to the Themes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.theme {
  section {
    margin: 2rem 0;
  }

  .name {
    h1 {
      font-size: 3rem;
    }
  }

  .props {
    background: #EEE;
    min-height: 2rem;
    padding: 1rem 0;
  }

  .screenshots {
    img {
      width: 100%;
    }
  }
}
