// Place all the styles related to the Themes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'constants';

.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 1rem 0;
  padding-bottom: 0;

  .theme {
    flex-basis: 300px;
    margin: 1rem;
    position: relative;

    &:hover {
      img {
	box-shadow: 0px 0px 15px #888;
      }

      .meta {
	color: #111;
	border-bottom: $border-size solid #555;
      }

      .multi {
	background: rgba(255, 255, 255, 0.90);
	color: $base-text-color;
      }
    }

    img {
      box-shadow: 0px 0px 10px #BBB;
      transition: box-shadow 0.25s ease-out;
      max-width: 100%;
      border-radius: 3px;
    }

    a {
      color: white;
      text-decoration: none;
    }

    .meta {
      display: table;
      transition: color 0.25s, border 0.25s;
      padding: 0.5rem 0;
      color: $base-text-color;
      font-size: 1rem;
      letter-spacing: 1px;
      border-bottom: $border-size solid #DDD;
    }

    .multi {
      background: rgba(255, 255, 255, 0.66);
      transition: color 0.25s, background 0.25s;
      color: #666;
      font-weight: bold;
      font-size: 1rem;
      border: 1px solid #BBB;
      border-radius: 100%;
      display: inline-block;
      padding: 0.6rem 0.7rem;
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;
    }
  }
}

.pagination {
  padding: 1rem;
  text-transform: lowercase;
  text-align: center;
  margin: 0 auto;

  .page {
    display: inline-block;
    margin: 0.5rem;
    min-width: 12rem;
  }
}

.oops {
  padding: 1rem;
  font-size: 1.2rem;
  line-height: 120%;
}
