.theme {
  margin:0 1rem;

  .name {
    font-weight: bold;
  }

  .description {
    font-weight: normal;
    font-size: 0.8rem;
  }

  .cmd {
    font-size: .8rem;
    font-weight: normal;
    background: #999;
  }

  .gallery {
    white-space: nowrap;
    overflow: hidden;

    img {
      display: inline-block;
      margin-bottom: 1rem;
      border-radius: 3px;
      width: 100%;
    }
  }

  .modes {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;

    li {
      flex-grow: 1;
      display: inline-block;
    }

    button {
      padding: 0.5rem;
      width: 100%;
      height: 100%;
      font-size: 0.8rem;
      text-transform: uppercase;
      color: #333;

      &.current {
        font-weight: bold;
        border-bottom: 1px solid #666;
      }

      &:active, &:focus {
        background: #EEE;
        outline: 0;
      }
    }
  }
}
