.footer.bg-gray-900.text-gray-300.text-sm.p-6
  .container.mx-auto
    %p
      PeachMelpa is open-source. Please consider
      = link_to 'donating', 'https://en.liberapay.com/freesteph', class: 'font-bold underline'
      to help with server & maintenance costs.

    %p.mt-2
      Source available on the
      = link_to 'freesteph/peach-melpa.org', 'https://github.com/freesteph/peach-melpa.org',class: 'font-bold underline'
      GitHub repository.
