.container.text-center.p-4
  .brand.flex.justify-center.space-x-3
    %h1.font-bold.text-xl= link_to 'Peach Melpa', root_path
    .logo.h-8.w-8= image_tag 'logo.png', { alt: "PeachMelpa logo" }
  %h2.text-lg.text-gray-600.my-1= @header
