.container.text-xl.flex.flex-row.space-x-3.mb-2
  %h1.font-bold= link_to 'Peach Melpa', root_path
  .logo.h-8.w-8= image_tag 'logo.png', { alt: "PeachMelpa logo" }
%h2.text-lg.text-gray-600.my-3= @header
